/* 
.row-header {
    margin: 40px 20px 40px 20px;
    padding:0px auto;
}

.row-content {
    margin: 40px 20px 40px 20px;
    padding: 20px 0px 20px 0px;
    border-bottom: 1px ridge;
    min-height: 100px;
}

.footer {
    background-color: #D1C4E9;
    margin: 40px 20px 40px 20px;
    padding: 20px 0px 20px 0px;
    font-size: 14px;
    font-family: sans-serif, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.jumbotron {
    padding: 70px 30px;
    margin: 40px 20px 40px 20px;
    background: #9575cd;
    color: floralwhite
}

.address {
    font-size: 80%;
    margin: 0px;
    color: #000;
}

#headline {
    font-size: 40px;
    font-family: Arial Black, Impact, sans-serif;

}

.copy-text {
    font-size: 24px;
    font-family: Arial, sans-serif, Trebuchet, Impact;
} */

@media only screen and (min-width: 460px) and (max-width: 959px){
 
    .row-header {
        margin: 40px 20px 40px 20px;
        padding:0px auto;
    }
    
    .row-content {
        margin: 40px 20px 40px 20px;
        padding: 20px 0px 20px 0px;
        border-bottom: 1px ridge;
        min-height: 100px;
    }
    
    .footer {
        background-color: #D1C4E9;
        margin: 40px 20px 40px 20px;
        padding: 20px 0px 20px 0px;
        font-size: 14px;
        font-family: sans-serif, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }
    
    .jumbotron {
        padding: 70px 30px;
        margin: 40px 20px 40px 20px;
        background: #9575cd;
        color: floralwhite
    }
    
    .address {
        font-size: 80%;
        margin: 0px;
        color: #000;
    }
    
    #headline {
        font-size: 40px;
        font-family: Arial Black, Impact, sans-serif;
    
    }
    
    .copy-text {
        font-size: 24px;
        font-family: Arial, sans-serif, Trebuchet, Impact;
    }
     
    }